{% extends 'layout.html.twig' %}

{% block banner %}
<img src="https://picsum.photos/seed/picsum/1920/200" alt="">
{% endblock %}

{% block content %}
    <h1>Nos chambres</h1>
        <ul class='index-ul'>
            <div class='grid'>
            {% for room in rooms %}
                <div id='room-article'>
                    <article>
                        <div class='room_img'><img src="/assets/images/room{{room.id}}/room{{room.id}}-1.webp" alt=""></div>
                        <div class='room_description'>
                            <p>{{ room.title }}</p>
                            <div class='type-div'>
                                <p>Type : {{ room.type }} </p>
                                <a href="/rooms/showRoom?id={{ room.id }}">En savoir plus</a>
                            </div>
                            <p>Type de lits : {{ room.bed_type }}</p>
                            <p>Description :</p>
                            <p>{{ room.description }}</p>
                        </div>
                    </article>
                </div>
            {% else %}
                <li>Nothing to display</li>
            {% endfor %}
            </div>
        </ul>
{% endblock %}
