{% extends 'layout.html.twig' %}

{% block banner %}
	<div class='img-container'>
		<img src="../assets/images/facade2.jpg" id='clip_accueil' alt="">
	</div>
{% endblock %}

{% block content %}
    <h1>Nos chambres</h1>
        <ul class='index-ul'>
            <div class='grid'>
            {% for room in rooms %}
                <div>
                    <li><a href="/rooms/showRoom?id={{ room.id }}">{{ room.title }}</a></li>
                    <article>
                        <div class='room_img'><img src="https://fastly.picsum.photos/id/866/200/300.jpg?hmac=rcadCENKh4rD6MAp6V_ma-AyWv641M4iiOpe1RyFHeI" alt=""></div>
                        <div class='room_description'>
                            <p>{{ room.title }}</p>
                            <p>Type : {{ room.type }}:</p>
                            <p>Type de lits : {{ room.bed_type }}</p>
                            <p>Description :</p>
                            <p>{{ room.description }}</p>
                        </div>
                    </article>
                </div>
            {% else %}
                <li>Nothing to display</li>
            {% endfor %}
            </div>
        </ul>
{% endblock %}
