{# TODO : manage errors display #}
{% include './Include/_errors.html.twig' %}

<form method="post" action="contact">
	<input type="hidden" value="{{ contact.id }}" name="id">

	<label for="lastname">Nom</label>
	<input type="text" value="{{ contact.lastname }}" name="lastname" id="lastname">

	<label for="firstname">Prénom</label>
	<input type="text" value="{{ contact.firstname }}" name="firstname" id="firstname">

	<label for="name">Adresse e-mail</label>
	<input type="email" value="{{ contact.email }}" name="email" id="email">

	<label for="name">Message</label>
	<input type="text" value="{{ contact.message }}" name="message" id="message">

	<button>Envoyer</button>
</form>
