{% extends 'layout.html.twig' %}

{% block content %}
    <div class='profile-page'>
    <h1>Profil personnel de {{user.firstname}} {{user.lastname}}</h1>
    <ul>
        <li>Adresse : {{user.address}}</li>
        <li>Email: {{user.email}}</li>
    </ul>
        <a class='edit-btn' href="profile/modif?id={{user.id}}">Vous souhaitez modifier vos informations ?</a></li>

        {% if user.birthday %}
            <li>Date d'anniversaire : {{user.birthday}}</li>
        {% endif %}
        {% if user.isAdmin %}
            <p>Vous êtes un Admin, bien joué</p>
        {% endif %}
        {% if reservations %}
            <h3>Vos réservation en cours :</h3>
            <ul>
            {% for reservation in reservations %}
                <div class='profile-booking'>
                    <li>Vous avez réservé : la <strong>{{reservation.title}}</strong> du {{reservation.start}} au {{reservation.end}}</li>
                    <li><a class='dashboard-booking-btn' href="/profile/bookingdelete?id={{reservation.id}}">Annuler cette réservation</a></li>
                </div>
            {% endfor %}
            </ul>
        {% else %}
            <h3>Vous n'avez aucune réservation en cours</h3>
        {% endif %}
    </ul>
    <a class='edit-btn' href="/logout">Déconnexion</a>
    </div>
{% endblock %}
