{% extends 'layout.html.twig' %}

{% block title %}Administration des chambres{% endblock %}

{% block banner %}
    <img src="/assets/images/Dashboardbanner.jpg" id='clip_accueil' alt="Dashboard Bannière">
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboardTitle">
            <img src="/assets/images/roue-dentee.png" alt="Logo roue crantée">
            <h2> <a class='backlink' href="/dashboard">Interface Administrateur</a> > Gestion des chambres </h2>
        </div>
        <ul class="addRoomButton">
            <li><a href="/dashboard/rooms/add">Ajouter une chambre</a></li>
        </ul>
        <div class="dashboardList">
        <ul class="listTitle">
        <hr>
            {% for room in rooms %}
                <li><div class="listTitleLogo">&#x1F6CC;</div> <h3>{{room.id}}. {{room.title}}</h3></li>
                <li>Type :&nbsp;<em>{{room.type}}</em>&nbsp;/ Lit :&nbsp;<em>{{room.bed_type}}</em></li>
                <li>
                    {% if room.isBooked is same as 1 %}<strong>Réservée</strong>&nbsp;du {{room.start_date|date("d/m/Y")}} au {{room.end_date|date("d/m/Y")}}
                    {% else %}<strong>Libre</strong>{% endif %}
                </li>
                <hr>
            {% endfor %}
        </ul>
        <ul class="listButton">
        <hr>
            {% for room in rooms %}
                <li>
                    <a href="/rooms/edit?id={{room.id}}">Modifier</a>
                    <a href="/dashboard/rooms/delete?id={{room.id}}">Supprimer</a>
                </li>
                <hr>
            {% endfor %}
        </ul>
        </div>
    </div>
{% endblock %}
